/*          General CSS         */
html * {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: 0px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.15;
}

/*          Navbar CSS          */
.navbar {
    margin: 0;
    padding: 0;
    min-height: 45.5px;
    background-color: #004E89;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 13px 16px 14px;
    text-decoration: none;
    font-size: 17;
}

.navbar a:hover, .dropdown:hover .dropdown-button {
    background-color: #1A659E;
}

/*! Potential feature
.navbar-active a {
    background-color: ;
}
*/

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropdown-button {
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 13px 16px 14px;
    background-color: inherit;
    /*font-family: inherit; /* Important for vertical align on mobile phones */
    /*margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#onas-dropdown {
    min-width: 114.738px;
}

#jakresit-dropdown {
    min-width: 128.15px;
}

.dropdown-menu a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/*          Task CSS            */
.task {
    margin-bottom: 32px;
}

.task-headline {
    padding: 0.2rem 1rem;
    color: white;
    background-color: #14bdebcc;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 8px;
    line-height: 1.1;
}

.task-text {
    margin-top: 0px;
    margin-bottom: 16px;
    line-height: 1.5 !important;
}

.task-headline.task-headline-easy {
    background-color: #68cc21cc;
}

.task-headline.task-headline-hard {
    background-color: #14bdebcc;
}

.task-headline.task-headline-astronomy {
    background-color: #b425d7cc;
}

.task-headline.task-headline-quantum {
    background-color: #f64740cc;
}

.task-headline.task-headline-bonus {
    background-color: #fec601cc;
}

.task-points {
    float: right;
}

.tag {
    color: #14bdebcc;
    margin-right: 16px;
    margin-top: 0px;
    margin-bottom: 16px;
}

.task-headline-easy ~ .tag {
    color: #68cc21cc;
}

.task-headline-hard ~ .tag {
    color: #14bdebcc;
}

.task-headline-astronomy ~ .tag {
    color: #b425d7cc;
}

.task-headline-quantum ~ .tag {
    color: #f64740cc;
}

.task-headline-bonus ~ .tag {
    color: #fec601cc;
}

.tasks {
    margin-left: 5%;
    margin-right: 5%;
}

.task-frame {
    border-style: solid;
    border-color: black;
    padding: 10px;
    padding-top: 5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.task-frame-title {
    font-weight: bold;
    margin: 0px;
}

.task-frame-content {
    margin-bottom: 0px;
    margin-top: 5px;
}

.task-image-grid {
    flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-flex: 0;
    min-height: 1px;
    position: relative;
    margin-bottom: 10px;

    /*border-style: solid;
    border-color: greenyellow;*/
}

.task-image-row {
    display: flex;
    flex-wrap: wrap;

    /*border-style: solid;
    border-color: red;*/
}

.task-image-row img {
    flex: 0 0 16.666666%;
    max-width: 16.666666%;
    -webkit-box-flex: 0;
    padding: 5px;
    position: relative;
    min-height: 1px;
    width: 100%;
    display: block;
    box-sizing: border-box;

    /*border-style: solid;
    border-color: blue;*/
}

/*              Homepage CSS            */
.home-info {
    text-align: center;
    padding: 10px 20px;
    margin-top: 32px;
    background-color: #118AB2;
    color: #fff;
}

.home-info h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    margin: auto;
}

.home-info a {
    text-decoration: none;
    color: #004385;
    font-style: italic;
    white-space: nowrap;
}

.home-info p {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 15%;
    margin-left: 15%;
}

.tiles {
    margin-left: 20px;
    margin-right: 20px;
    flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-flex: 0;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 1px;
    position: relative;

    /*border-style: solid;
    border-color: yellow;*/
}

.row {
    display: flex;
    flex-wrap: wrap;

    /*border-style: solid;*/
}

.tile {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    -webkit-box-flex: 0;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    width: 100%;
    display: block;
    box-sizing: border-box;

    /*border-style: solid;
    border-color: greenyellow;*/
}

.tile a {
    text-decoration: none;
}

.tile-block {
    height: 20rem;
    position: relative;
    margin: 0.25rem;
    margin-top: 2rem;
    background-size: cover;
    background-position: center;
    display: block;
    transition: transform .25s ease;

    /*border-style: solid;
    border-color: red;*/
}

.tile-block:hover {
    transform: scale(1.05);
}

.tile-block.batch {
    background-image: linear-gradient(#00000030, #00000000), url(../images/annaadela3r25.jpg);
}

.tile-block.task {
    background-image: linear-gradient(#00000030, #00000000), url(../images/lucier25.jpg);
}

.tile-block.prize {
    background-image: linear-gradient(#00000030, #00000000), url(../images/tabler25.jpg);
}


.tile-block .title {
    font-size: 50px;
    color: white;
    font-weight: bold;
    margin: 1rem;
}

.tile-block .description {
    background-color: white;
    max-width: 95%;
    color: black;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    padding: 0.25rem;
    font-size: .8rem;
}

/*              MathJax CSS            */
mjx-container[display="true"] {
    line-height: 0 !important;
}