/*          General CSS         */
html * {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.15;
}

body {
    margin: 0px 10px;
}

/*          Navbar CSS          */
.navbar {
    margin: 0;
    padding: 0;
    min-height: 45.5px;
    background-color: #004E89;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 13px 16px 14px;
    text-decoration: none;
    font-size: 17;
}

.navbar a:hover, .dropdown:hover .dropdown-button {
    background-color: #1A659E;
}

/*! Potential feature
.navbar-active a {
    background-color: ;
}
*/

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropdown-button {
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 13px 16px 14px;
    background-color: inherit;
    /*font-family: inherit; /* Important for vertical align on mobile phones */
    /*margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#onas-dropdown {
    min-width: 114.738px;
}

#jakresit-dropdown {
    min-width: 128.15px;
}

.dropdown-menu a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/*          Task CSS            */
.task-headline {
    padding: 0.2rem 1rem;
    color: white;
    background-color: #14BDEBcc;
    font-weight: 500;
  }

.task-headline.task-headline-easy {
    background-color: #68cc21cc;
}

.task-headline.task-headline-hard {
    background-color: #14BDEBcc;
}

.task-headline.task-headline-astronomy {
    background-color: /*#7209b7*/ #b425d7cc /*#A663CC*/;
}

.task-headline.task-headline-quantum {
    background-color: #F64740cc;
}

.task-headline.task-headline-bonus {
    background-color: #FEC601cc;
}

/*              Homepage CSS            */
.home-info, .home-info h1 {
    border-style: solid;
    text-align: center;
    padding: 10px 20px;
    margin: 10px 300px;
}

/*TODO home-info link styling

.home-info a {

}

*/

/*TODO image-tile styling

.image-tiles {

}

.tile {

}

*/
