html * {
    font-family: Arial;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #004E89;
}

li.navbar {
    float: left;
}

li.navbar a.navbar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navbar a.navbar:hover {
    background-color: #1A659E;
}